{% extends 'app_base.html' %}
{% load static tailwind_filters crispy_forms_tags %}


{% block slot %}
<div class="card mb-3">

  <main class="card-body">

    <div class="pt-12 pb-8">
      <h5 class="card-title text-center pb-0 text-3xl">Login</h5>
      <p class="text-center text-sm">Enter username & password to login</p>
    </div>

    <form class="max-w-lg w-11/12 mx-auto grid" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="p-3 bg-blue-600 mt-4 rounded-lg" type="submit">Login</button>
    </form>

  </main>
</div>
{% endblock slot %}