@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "JUSTICELEAGUE";
  src: url("../fonts/JUSTICE LEAGUE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-primary: #006FFF;
  --color-dark: #030E19;
  --color-light: #1A2B3D;
  --color-lighter: #C0D6F2;
  --color-white: #FFFFFF;
  --color-warning: #FFB300;
  --color-red: #ff003c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

table, th, td {
  border: 1px solid var(--color-light);
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem 0.5rem;
}

body {
  background-color: var(--color-dark);
}

.app {
  height: 100vh;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}
footer nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  height: 5rem;
  background-color: var(--color-light);
}
footer nav .link {
  display: grid;
  place-content: center;
  gap: 0.75rem;
  position: relative;
}
footer nav .link .circle-outer {
  margin: 0 auto;
}
footer nav .link .circle-inner img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
footer nav .link.highlight {
  justify-content: center;
  align-content: end;
}
footer nav .link.highlight span {
  color: var(--color-white);
  font-weight: 800;
}
footer nav .link.highlight .circle-outer {
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 5rem;
  min-width: 4rem;
  background-color: var(--color-dark);
  position: absolute;
  border-radius: 10rem;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}
footer nav .link.highlight .circle-inner {
  width: 85%;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  border-radius: 10rem;
  display: grid;
  place-content: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer nav .link.highlight span {
  margin-bottom: 0.75rem;
  font-weight: bold;
}
footer nav .link.highlight:first-of-type .circle-outer, footer nav .link.highlight:first-of-type .circle-inner {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
footer nav .link.highlight:last-of-type .circle-outer, footer nav .link.highlight:last-of-type .circle-inner {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
footer nav .link span {
  color: var(--color-lighter);
  font-size: 0.75rem;
}

#all-stats-page {
  color: var(--color-lighter);
  padding-top: 3.375rem;
  display: grid;
}
#all-stats-page img.logo {
  margin: 0 auto;
}
#all-stats-page p {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
#all-stats-page ol {
  width: 80%;
  margin: 0 auto;
  list-style: none;
}
#all-stats-page ol li {
  background-color: var(--color-light);
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  text-align: center;
}
#all-stats-page ol li a {
  color: var(--color-lighter);
  text-decoration: none;
}

#page-404 {
  color: var(--color-lighter);
  padding-top: 3.375rem;
  display: grid;
  gap: 3rem;
  height: 75vh;
  grid-template-rows: auto 1fr;
}
#page-404 img.logo {
  margin: 0 auto;
}
#page-404 div {
  display: grid;
  place-content: center;
}
#page-404 div p {
  margin-top: 1.5rem;
  text-align: center;
}

#today-page, #today-page-warning, #stat-detail-page {
  color: var(--color-lighter);
  padding-top: 3.375rem;
  display: grid;
  text-align: center;
}
#today-page img.logo, #today-page-warning img.logo, #stat-detail-page img.logo {
  margin: 0 auto;
}
#today-page h1, #today-page-warning h1, #stat-detail-page h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--color-primary);
}
#today-page .date, #today-page-warning .date, #stat-detail-page .date {
  background-color: var(--color-light);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.3rem 1.5rem;
  border-radius: 10rem;
  margin-top: 1rem;
}
#today-page p, #today-page-warning p, #stat-detail-page p {
  margin-top: 1rem;
}
#today-page p.warning, #today-page-warning p.warning, #stat-detail-page p.warning {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--color-warning);
}
#today-page input[type=date], #today-page-warning input[type=date], #stat-detail-page input[type=date] {
  margin: 2rem 1rem;
  border-radius: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--color-primary);
  border: 0;
  color: var(--color-white);
}
#today-page input[type=date]:focus-visible, #today-page-warning input[type=date]:focus-visible, #stat-detail-page input[type=date]:focus-visible {
  outline: var(--color-lighter) solid 2px;
}
#today-page table, #today-page-warning table, #stat-detail-page table {
  margin: 1rem;
  text-align: left;
  font-size: 1.25rem;
}
#today-page table tr, #today-page-warning table tr, #stat-detail-page table tr {
  display: grid;
  grid-template-columns: 2.3fr 1fr 1fr 1fr;
}
#today-page .actions, #today-page-warning .actions, #stat-detail-page .actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#today-page .actions .back, #today-page-warning .actions .back, #stat-detail-page .actions .back {
  background-color: var(--color-dark);
  display: flex;
  align-content: center;
  text-decoration: none;
  color: var(--color-white);
}
#today-page .actions .back span, #today-page-warning .actions .back span, #stat-detail-page .actions .back span {
  font-weight: 600;
  font-size: 1.25rem;
  margin: auto 0;
}
#today-page .actions button, #today-page-warning .actions button, #stat-detail-page .actions button {
  background-color: var(--color-dark);
  color: var(--color-warning);
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
#today-page .actions button span, #today-page-warning .actions button span, #stat-detail-page .actions button span {
  font-weight: 600;
  font-size: 1.25rem;
  margin-right: 0.2rem;
}
#today-page .input, #today-page-warning .input, #stat-detail-page .input {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
#today-page .input div, #today-page-warning .input div, #stat-detail-page .input div {
  flex: 1;
  display: grid;
  text-align: left;
}
#today-page .input div label, #today-page-warning .input div label, #stat-detail-page .input div label {
  margin-left: 1.25rem;
}
#today-page .input div input, #today-page-warning .input div input, #stat-detail-page .input div input {
  border-radius: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--color-light);
  border: 2px;
  color: var(--color-white);
  accent-color: var(--color-primary);
}
#today-page .input div input:focus-visible, #today-page-warning .input div input:focus-visible, #stat-detail-page .input div input:focus-visible {
  outline: var(--color-lighter) solid 2px;
}
#today-page .input span, #today-page-warning .input span, #stat-detail-page .input span {
  background-color: var(--color-primary);
  margin-top: auto;
  aspect-ratio: 1/1;
  border-radius: 4em;
  width: 2rem;
  padding: 0.5rem;
  display: grid;
  place-content: center;
}/*# sourceMappingURL=app.css.map */