{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section title="Attendance records" class="max-w-4xl mx-auto">
    <!-- <h2 class="text-3xl font-semibold text-center mb-8 text-white">{{ year }}</h2> -->
    <header>
        <c-ui.dialog>
            <c-slot name="trigger">
                <c-ui.button>
                    <div class="flex items-center gap-2">
                        <c-icon icon="funnel" />
                        <span>Filters</span>
                    </div>
                </c-ui.button>
            </c-slot>

            <c-slot name="header">
                <c-ui.dialog.title>Filters</c-ui.dialog.title>
                <!-- <c-ui.dialog.description>Make changes to your profile here. Click save when you're done.</c-ui.dialog.description> -->
            </c-slot>

            <form method="get" class="space-y-4">
                <div class="grid gap-y-4">
                    <div class="grid grid-cols-2 gap-2">
                        <c-ui.field>
                            <c-ui.label>From:</c-ui.label>
                            <c-ui.input type="date" name="from_date" value="{{ from_date }}" required />
                        </c-ui.field>
                        <c-ui.field>
                            <c-ui.label>To:</c-ui.label>
                            <c-ui.input type="date" name="to_date" value="{{ to_date }}" />
                        </c-ui.field>
                    </div>
                </div>

                <div class="grid gap-2">
                    <c-ui.button variant="ghost" @click="close()">Cancel</c-ui.button>
                    <a href="{% url 'facilitators:attendance' %}" class="w-full grid">
                        <c-ui.button>Reset</c-ui.button>
                    </a>
                    <c-ui.button variant="primary" type="submit">Submit</c-ui.button>
                </div>
            </form>
        </c-ui.dialog>
    </header>
    <div class="overflow-auto mt-4">
        <table class="w-max border-collapse text-xs rounded-box overflow-hidden">
            <thead>
                <tr>
                    <!-- Sticky top-left corner cell for layout alignment -->
                    <th class="sticky left-0 bg-surface z-10 p-2 text-left">
                        Facilitator
                    </th>

                    <!-- Date Columns Header formatted as '18 AUG' -->
                    {% for stat in days %}
                    <th class="p-2 text-center font-semibold uppercase text-xs bg-surface w-min">
                        <span class="whitespace-wrap">{{ stat.date|date:"d M"|upper }}</span>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in facilitator_rows %}
                <tr class="border-t border-gray-700">
                    <!-- Sticky Facilitator Name Row Header -->
                    <td class="sticky left-0 bg-surface z-10 p-2 font-medium whitespace-nowrap">
                        {{ row.facilitator.name }}
                    </td>

                    <!-- Attendance Status Cells -->
                    {% for is_present in row.statuses %}
                    <td class="py-1 px-2 text-center align-middle w-min">
                        <div class="rounded-box w-full h-full p-2 aspect-square {% if is_present %}bg-accent{% else %}bg-surface{% endif %}"></div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock slot %}
