{% load static %}

<footer class="w-full">
    <nav class="max-w-3xl mx-auto">
        <a href="/" class="link all-stats">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'assets/list all.svg' %}" alt=""></div>
            </div>
            <span>Stats</span>
        </a>
        <a href="{% url 'App:latest-stat' %}" class="link latest-stat">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'assets/angles-up.svg' %}" alt=""></div>
            </div>
            <span>Today</span>
        </a>
        <a href="{% url 'App:facilitator-checklist' %}" class="link facilitators-link">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'assets/list.svg' %}" alt=""></div>
            </div>
            <span>Checklist</span>
        </a>
        <a href="#" class="link">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'assets/calendar-days.svg' %}" alt=""></div>
            </div>
            <span>Calender</span>
        </a>
        <a href="{% url 'App:info' %}" class="link more-link">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'assets/ellipsis.svg' %}" alt=""></div>
            </div>
            <span>More</span>
        </a>
    </nav>
</footer>