{% extends 'base.html' %}


{% block content %}
<div class="pagetitle">
  <h1>{{ day.date }}</h1>
  <span class="small">{{ day.title }}</span>
  <p class="lead">{{ day.comments }}  </p>
  <div class="d-flex justify-content-between">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'stats:days-list' %}">Celebration days</a></li>
        <li class="breadcrumb-item active"><a href="#">{{ day.date }}</a></li>
      </ol>
    </nav>
  </div>
</div>
<section id="day-detail">
    <div class="card rounded-4 p-5">
    
    <div class="table-wrapper w-100">
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">Service</th>
          </tr>
        </thead>
        <tbody>
            
            {% for service in day.services.all %}
            <tr>
              <th><a href="{% url 'stats:service-stats' service.pk %}" class="text-primary">{{ service.service }}</a></th>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    </div>

    <div class="card rounded-4 p-5">
      {% if absent %}
      <h2 class="fs-5 my-4">
        Morphers from last Sunday who are absent today
      </h2>
      <div class="table-wrapper w-100">
        <table class="table datatable">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Class</th>
              <th scope="col">Residence</th>
            </tr>
          </thead>
          <tbody>
              
              {% for morpher in absent %}
              <tr>
                <td><a href="{% url 'morphers:detail' morpher.pk %}" class="text-primary">{{ morpher.name }}</a></td>
                <td><a href="#" class="text-dark">{{ morpher.grade.name }}</a></td>
                <td><a href="#" class="text-dark">{{ morpher.residence.name }}</a></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
</section>
{% endblock content %}