{% extends 'base.html' %}


{% block content %}
<div class="pagetitle">
  <h1>Celebration days</h1>
  <div class="d-flex justify-content-between">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Celebration days</a></li>
      </ol>
    </nav>
  </div>
</div>
    <section id="days">
      <div class="card p-3 rounded-4">
        <div class="table-wrapper w-100">
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
                
                {% for day in days %}
                <tr>
                  <th><a href="{% url 'stats:day-detail' day.pk %}" class="text-primary">{{ day.date }}</a></th>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
    </section>
{% endblock content %}
    