{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dist/bundle.css' %}">
    <link rel="icon" href="{% static 'assets/app icon@.5x.png' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'dist/bundle.js' %}" defer></script>
    <title>Stats App</title>
    <script>
        let checklistPage = false;
    </script>
</head>
<body class=" text-lighter">
    <div class="sm:bg-transparent">
        <div class="app">
            <div class="overflow-y-auto flex-1 px-2">{% block slot %}{% endblock slot %}</div>
            {% include 'app_components/footer.html' %}
        </div>
    </div>
    
    {% block scripts %}{% endblock scripts %}
    <script>
        document.querySelector(`.link.${active_link}`).classList.add('highlight')
    </script>
    {% comment %} <script src="{% static 'assets/js/chart.min.js' %}"></script> {% endcomment %}
    
</div>
</body>
</html>