@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";
@source "../../";

@import "./theme.css";

@import "lucide-static/font/lucide.css";

@font-face {
	font-family: "lucide";
	src: url("./lucide.eot?t=1747396755572"); /* IE9*/
	src: url("./lucide.eot?t=1747396755572#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("./lucide.woff2?t=1747396755572") format("woff2"),
		url("./lucide.woff?t=1747396755572") format("woff"),
		url("./lucide.ttf?t=1747396755572") format("truetype"),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
			url("./lucide.svg?t=1747396755572#lucide") format("svg"); /* iOS 4.1- */
}

/* loading indicator for x-alpine requests */
[aria-busy] {
	--loading-size: 64px;
	--loading-stroke: 6px;
	--loading-duration: 1s;
	position: relative;
	opacity: 0.75;
}
[aria-busy]:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--loading-size);
	height: var(--loading-size);
	margin-top: calc(var(--loading-size) / 2 * -1);
	margin-left: calc(var(--loading-size) / 2 * -1);
	border: var(--loading-stroke) solid rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	border-top-color: rgba(0, 0, 0, 0.5);
	animation: rotate calc(var(--loading-duration)) linear infinite;
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:grid;
}
.htmx-request.htmx-indicator{
    display:grid;
}

[x-cloak]{
    display: none;
}
