@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");

@mixin sm{
    @media (min-width: 640px) {
        @content
    }
}

@mixin rsm{
    @media (max-width: 640px) {
        @content
    }
}

:root {
    --color-primary: #006fff;
    --color-dark: #030e19;
    --color-light: #1a2b3d;
    --color-lighter: #c0d6f2;
    --color-white: #ffffff;
    --color-warning: #ffb300;
    --color-red: #ff003c;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
}

.logo{
    @include sm{
        display: none;
    }
}

table,
th,
td {
    border: 1px solid var(--color-light);
    border-collapse: collapse;
}
th,
td {
    padding: 0.5rem 0.5rem;
}

body {
    background-color: var(--color-dark);
}

#baloon {
    @apply rounded-full bg-lighter text-dark text-xl font-bold mx-auto fixed w-fit text-center py-3 px-8 left-1/2 -translate-x-1/2 -top-16 z-20 shadow-blue-950;
    box-shadow: 0 -1rem 3rem 0.1rem;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.animate {
        box-shadow: 0 0.8rem 3rem 0.7rem;
        top: 4rem;
    }
}


.app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include sm{
        flex-direction: row-reverse;
    }
}

footer {
    @include sm{
        width: fit-content;
        height: 100vh;
    }
    background-color: var(--color-light);
    nav {
        display: grid;
        @include rsm{
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            height: 5rem;
        }
        
        .link {
            display: grid;
            gap: 0.75rem;
            position: relative;

            .img{
                font-size: 1.2rem;
            }
            &.highlight {
                .img{
                    color: var(--color-white);
                }
            }
            
            @include rsm{
                place-content: center;
                .circle- {
                    &outer {
                        margin: 0 auto;
                    }
                    &inner {
                        .img {
                            max-width: 1.5rem;
                            max-height: 1.5rem;
                        }
                    }
                }
    
                &.highlight {
                    justify-content: center;
                    align-content: end;
                    span {
                        color: var(--color-white);
                        font-weight: 800;
                    }
                    .circle- {
                        &outer {
                            @apply w-full max-w-[5rem] min-w-[4rem] absolute rounded-full left-1/2 bg-primary -translate-x-1/2 top-[10%] grid place-content-center bg-opacity-50 p-2;
                        }
                        &inner {
                            
                        }
                    }
                    span {
                        margin-bottom: 0.75rem;
                        font-weight: bold;
                    }
                }
    
                span {
                    color: var(--color-lighter);
                    font-size: 0.75rem;
                }
            }
        }

        @include sm{
            grid-template-columns: auto;
            gap: 1rem;
            height: auto;
            width: fit-content;
            padding-left: 1rem;
            padding-right: 1rem;

            
            .link{
                &.highlight{
                    background-color: var(--color-primary);
                    span{
                        font-weight: 600;
                        color: var(--color-white);
                    }
                }
                padding: .6rem 1rem;
                display: flex;

                border-radius: 5rem;

                .circle- {
                    &outer {
                        height: 1.5rem;
                        width: 1.5rem;
                        aspect-ratio: 1/1;
                    }
                    &inner {
                        .img {
                            max-width: 1.5rem;
                            max-height: 1.5rem;
                        }
                    }
                }
    
                span {
                    color: var(--color-lighter);
                    font-size: 1rem;
                }
            }
        }
    }
}

/* pages */
#all-stats-page {
    color: var(--color-lighter);
    padding-top: 3.375rem;
    display: grid;
    img.logo {
        margin: 0 auto;
    }
    ol {
        width: 80%;
        margin: 0 auto;
        list-style: none;

        li {
            background-color: var(--color-light);
            border-radius: 10rem;
            padding: 0.5rem 1rem;
            margin: 1.5rem 0;
            text-align: center;
            a {
                color: var(--color-lighter);
                text-decoration: none;
            }
        }
    }
}

#page-404 {
    color: var(--color-lighter);
    padding-top: 3.375rem;
    display: grid;
    gap: 3rem;
    height: 75vh;
    grid-template-rows: auto 1fr;
    img.logo {
        margin: 0 auto;
    }
    div {
        display: grid;
        place-content: center;
        p {
            margin-top: 1.5rem;
            text-align: center;
        }
    }
}

#today-page,
#today-page-warning,
#stat-detail-page {
    color: var(--color-lighter);
    padding-top: 3.375rem;
    display: grid;
    text-align: center;

    img.logo {
        margin: 0 auto;
    }

    h1 {
        font-size: 2.7rem;
        text-transform: uppercase;
        font-weight: bolder;
        color: var(--color-primary);
    }
    .date {
        background-color: var(--color-light);
        width: fit-content;
        margin: 0 auto;
        padding: 0.3rem 1.5rem;
        border-radius: 10rem;
        margin-top: 1rem;
    }
    p {
        margin-top: 1rem;
        &.warning {
            font-weight: bold;
            font-size: 1.25rem;
            color: var(--color-warning);
        }
    }

    input[type="date"] {
        margin: 2rem 1rem;
        border-radius: 10rem;
        padding: 0.5rem 1.25rem;
        background-color: var(--color-primary);
        border: 0;
        color: var(--color-white);
        &:focus-visible {
            outline: var(--color-lighter) solid 2px;
        }
    }

    table {
        margin: 1rem;
        text-align: left;
        font-size: 1.25rem;
        tr {
            display: grid;
            grid-template-columns: 2.3fr 1fr 1fr 1fr;
        }
    }
    .actions {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .back {
            background-color: var(--color-dark);
            display: flex;
            align-content: center;
            text-decoration: none;
            color: var(--color-white);
            span {
                font-weight: 600;
                font-size: 1.25rem;
                margin: auto 0;
            }
        }
        button {
            background-color: var(--color-dark);
            color: var(--color-warning);
            border: none;
            width: fit-content;
            padding: 0;

            span {
                font-weight: 600;
                font-size: 1.25rem;
                margin-right: 0.2rem;
            }
        }
    }
    .input {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        div {
            flex: 1;
            display: grid;
            text-align: left;
            label {
                margin-left: 1.25rem;
            }
            input {
                border-radius: 10rem;
                padding: 0.5rem 1.25rem;
                background-color: var(--color-light);
                border: 2px;
                color: var(--color-white);
                accent-color: var(--color-primary);
                &:focus-visible {
                    outline: var(--color-lighter) solid 2px;
                }
            }
        }
        span {
            background-color: var(--color-primary);
            margin-top: auto;
            aspect-ratio: 1/1;
            border-radius: 4em;
            width: 2rem;
            padding: 0.5rem;
            display: grid;
            place-content: center;
        }
    }
}

form{
    @apply accent-primary;
    p{
        @apply grid py-4;
        &:has(input[type='checkbox']){
            @apply flex gap-4;
        }
        label{
            @apply font-semibold;
        }
        input[type='text'],input[type='date'],input[type='password'],textarea,select{
            @apply bg-light p-2 rounded-md;
            &:focus-visible{
                @apply outline-primary;
            }
        }
    }
    button {
        @apply py-2 px-4 bg-primary text-white rounded-md;
        &:hover{
            @apply bg-primary/70;
        }
    }
}

.facilitator_list{
    @apply text-left;
    display: grid;
    .item{
        display: flex;
        align-items: center;
        background-color: var(--color-light);
        padding: .2rem .3rem;
        border-radius: .5rem;
    }
    @include sm{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
    }
}

.item{
    @apply my-2 flex;
    input[type="checkbox"]{
        & + label{
            @apply pointer-events-none text-sm grid flex-1;
            grid-template-columns: auto 3fr;

            svg{
                @apply w-8 stroke-primary stroke-[5] fill-blue-50 cursor-pointer pointer-events-auto;

                .box{
                    @apply fill-dark;
                    stroke-dasharray: 320;
                    stroke-dashoffset: 0;
                    transition: stroke-dashoffset .2s linear;
                }

                .check{
                    @apply fill-none;
                    --num: 70;
                    stroke-dasharray: var(--num);
                    stroke-dashoffset: var(--num);
                    transition: stroke-dashoffset .2s linear;
                }
            }

            span{
                @apply grid grid-flow-col content-center pl-2;
            }
        }
        &.checked + label{
            .box{
                @apply fill-white;
                stroke-dashoffset: 320;
            }
            .check{
                stroke-dashoffset: 0;
            }
        }
    }
}

.check-li{
    label{
        @apply flex gap-2 items-center w-full cursor-pointer;

        input[type="checkbox"]{
            & + svg{
                @apply w-8 stroke-primary stroke-[5] fill-blue-50;
    
                .box{
                    @apply fill-dark;
                    stroke-dasharray: 320;
                    stroke-dashoffset: 0;
                    transition: stroke-dashoffset .2s linear;
                }
    
                .check{
                    @apply fill-none;
                    --num: 70;
                    stroke-dasharray: var(--num);
                    stroke-dashoffset: var(--num);
                    transition: stroke-dashoffset .2s linear;
                }
            }
            &.checked{
                & + svg{
                    .box{
                        @apply fill-white;
                        stroke-dashoffset: 320;
                    }
                    .check{
                        stroke-dashoffset: 0;
                    }
                }
            }
        }
    }
}

.event-card{
    width: 100%;
    background-color: var(--color-light);
    border-radius: 1rem;
    padding: 1rem;

    h3{
        @apply text-lg font-semibold mb-4;
    }

    p{
        @apply my-2;
    }
}

.stat-articles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.stat-article{
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--color-light);
    &:hover{
        background-color: var(--color-light);
    }
    
    h3{
        color: var(--color-lighter);
        font-weight: 700;
        font-size: 1.2rem;
    }
    .num{
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--color-primary);
    }
    .services{
        display: grid;
        grid-auto-flow: column;
        margin-top: .5rem;
    }
    a{
        font-size: .9rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
}
