{% extends 'base.html' %}
{% load crispy_forms_filters %}


{% block content %}
<div class="pagetitle">
    <h1>Add Prayer Request</h1>
    <div class="d-flex justify-content-between">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'facilitators:prayer-list' %}">Prayer Requests</a></li>
          <li class="breadcrumb-item active"><a href="#">Add</a></li>
        </ol>
      </nav>
      <a href="{% url 'facilitators:prayer-list' %}" class="btn btn-outline-secondary"><i class="bi bi-chevron-left me-2"></i>Back to list</a>
    </div>
  </div>
    <div class="card p-5">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Add Request" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}
    