{% extends 'base.html' %}


{% block content %}
<div class="pagetitle">
  <h1>Prayer Requests</h1>
  <div class="d-flex justify-content-between">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Prayer Requests</a></li>
      </ol>
    </nav>
    <a href="{% url 'facilitators:prayer-create' %}" class="btn btn-outline-secondary">Add Request<i class="bi bi-chevron-right ms-2"></i></a>
  </div>
</div>
<section class="row g-3">
    
    {% for request in requests %}
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <article class="card p-4 h-100 d-flex flex-column">
            <p class="lea">{{ request.prayer_request }}</p>
            
            <hr class=" mt-auto">
            <div class="d-flex align-content-center">
                <div class="icon h-100 d-flex align-content-center">
                    <i class="bi bi-person-fill me-2 fs-3 p-0 m-0"></i>
                </div>
                <div class="small d-flex align-content-center flex-column">
                    <h2 class="small fw-bold text-muted p-0 m-0">{{ request.facilitator.name }}</h2>
                    <span class="text-muted small p-0 m-0">{{ request.facilitator.contact }}</span>
                </div>
            </div>
            
            
            {% if request.user.is_staff %}
            <a href="{% url 'facilitators:prayer-answered' request.pk %}" class="text-success">Mark as answered <i class="bi bi-check-lg ms-2"></i></a>
            {% endif %}
                
        </article>
    </div>
    {% endfor %}
        
</section>
</div>
{% endblock content %}

