{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section title="More details" class="pt-16">
    <img class="logo mx-auto" src="{% static 'app/assets/logo.png' %}" alt="App logo">
    <p class="text-center">
        by <a class="font-bold" href="eliheist.pythonanywhere.com"><i class="fas fa-globe ml-2"></i> eliHeist</a>
    </p>
    
    <div class="grid justify-center py-4">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="text-white mx-auto"><i class="fas fa-lock mr-2 text-red"></i>Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="text-white mx-auto"><i class="fas fa-lock mr-2 text-red"></i>Login</a>
        {% endif %}
    </div>
        
</section>

{% endblock slot %}


{% block scripts %}
<script>
    //{% if link_name %}
    const active_link = "{{ link_name }}"
    //{% else %}
    const active_link = "all-stats"
    //{% endif %}
</script>
{% endblock scripts %}
