{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section title="Statistics">
    <h2 class="text-3xl font-semibold text-center mb-8 text-white">{{ year }}</h2>
    <div class="stat-articles">
        {% if highest_attendance_day %}
        <article class="stat-article">
            <h3>Highest Attendance</h3>
            <span class="num">{{ highest_attendance_day.totalAttendance }}</span>
            <p class="date">{{ highest_attendance_day.formatedDate }}</p>
            <div class="services">
                {% for service in highest_attendance_day.services.all %}
                <div class="">
                    <h4>{{ service.name }}</h4>
                    <p>{{ service.totalMorphers }}</p>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'App:stat-detail' highest_attendance_day.pk %}">
                View details
                <i class="fas fa-arrow-right-long"></i>
            </a>
        </article>
        {% endif %}
        {% if lowest_attendance_day %}
        <article class="stat-article">
            <h3>Lowest Attendance</h3>
            <span class="num">{{ lowest_attendance_day.totalAttendance }}</span>
            <p class="date">{{ lowest_attendance_day.formatedDate }}</p>
            <div class="services">
                {% for service in lowest_attendance_day.services.all %}
                <div class="">
                    <h4>{{ service.name }}</h4>
                    <p>{{ service.totalMorphers }}</p>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'App:stat-detail' lowest_attendance_day.pk %}">
                View details
                <i class="fas fa-arrow-right-long"></i>
            </a>
        </article>
        {% endif %}
        {% if highest_visitors_day %}
        <article class="stat-article">
            <h3>Highest Visitors</h3>
            <span class="num">{{ highest_visitors_day.totalVisitors }}</span>
            <p class="date">{{ highest_visitors_day.formatedDate }}</p>
            <div class="services">
                {% for service in highest_visitors_day.services.all %}
                <div class="">
                    <h4>{{ service.name }}</h4>
                    <p>{{ service.first_time_visitors }}</p>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'App:stat-detail' highest_visitors_day.pk %}">
                View details
                <i class="fas fa-arrow-right-long"></i>
            </a>
        </article>
        {% endif %}
        {% if highest_salvations_day %}
        <article class="stat-article">
            <h3>Highest Salvations</h3>
            <span class="num">{{ highest_salvations_day.totalSalvations }}</span>
            <p class="date">{{ highest_salvations_day.formatedDate }}</p>
            <div class="services">
                {% for service in highest_salvations_day.services.all %}
                <div class="">
                    <h4>{{ service.name }}</h4>
                    <p>{{ service.salvations }}</p>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'App:stat-detail' highest_salvations_day.pk %}">
                View details
                <i class="fas fa-arrow-right-long"></i>
            </a>
        </article>
        {% endif %}
    </div>
    <div class="grid gap-4 mt-8 text-xl">
        <p>
            Total Visitors:
            <span class="font-semibold">{{ total_visitors }}</span>
        </p>
        <p>
            Total Salvations:
            <span class="font-semibold">{{ total_salvations }}</span>
        </p>
    </div>
</section>

{% endblock slot %}


{% block scripts %}
{% endblock scripts %}
