{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section>
   <form action="{% url 'App:register-day' %}" method="post" class="mx-4 mt-8 grid gap-4 max-w-lg">
        {% csrf_token %}
        <c-ui.field>
            <c-ui.label for="id_date">Date</c-ui.label>
            <c-ui.input type="date" name="date" id="id_date" required />
            <c-ui.error name="date" />
        </c-ui.field>
        <c-ui.field>
            <c-ui.label for="id_title">Title</c-ui.label>
            <c-ui.input value="Sunday Services" type="text" name="title" id="id_title" required />
            <c-ui.error name="title" />
        </c-ui.field>
        <c-ui.checkbox.group name="services" label="Select Services">
            <c-ui.checkbox value="first_service" name="first_service" label="First Service" />
            <c-ui.checkbox value="second_service" name="second_service" label="Second Service" />
            <c-ui.checkbox value="third_service" name="third_service" label="Third Service" />
        </c-ui.checkbox.group>
        <c-ui.button variant="primary" type="submit">Submit</c-ui.button>
   </form>
</section>

{% endblock slot %}


{% block scripts %}
{% endblock scripts %}