{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section>
    <div class="flex p-4 justify-center">
        
        {% if request.user.is_authenticated %}
            <a href="{% url 'App:register-day' %}" class="flex gap-2 items-center px-6 py-2 bg-primary text-white rounded-full">
                <i class="fas fa-plus"></i>
                <span class="font-bold">Add new stat</span>
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="flex gap-2 items-center px-6 py-2 bg-primary text-white rounded-full">
                <i class="fas fa-user"></i>
                <span class="font-bold">Login</span>
            </a>
        {% endif %}
            
    </div>
    <!-- list of the stats -->
    <div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {% for stat in stats %}
        <a href="{% url 'App:stat-detail' stat.id %}">
            <div class="bg-light p-8 rounded-lg">
                <h3 class="text-lg font-bold text-white">{{ stat.formatedDate }}</h3>
                <p class="text-sm">{{ stat.date|timesince }} ago</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock slot %}


{% block scripts %}
{% endblock scripts %}