{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section class="max-w-4xl mx-auto @container">
    <!-- list of the stats -->
    <div class="mx-auto grid @sm:grid-cols-2 @xl:grid-cols-3 @3xl:grid-cols-4 gap-4">
        {% for stat in stats %}
        <a href="{% url 'App:stat-detail' stat.id %}">
            <c-ui.card>
                <h3 class="font-semibold mb-2">{{ stat.formatedDate }}</h3>
                <p class="text-ink-400">{{ stat.date|timesince }}</p>
            </c-ui.card>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock slot %}


{% block scripts %}
{% endblock scripts %}