{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section title="Today's Stats" id="today-page" x-data="{
    statID: {{stat.id}},
    editMode: false,
    services: null,
    firstService: {},
    secondService: {},
    thirdService: {},
    updatedServices: [],
    status: null,
    csrf() {
        token = document.getElementById('token').firstElementChild.value;
        return token;
    },
    showMessage(message){
        const div = document.createElement('div');
        div.className = `rounded-full bg-green-500 text-black font-semibold mx-auto `;
        div.id = 'baloon';
        div.appendChild(document.createTextNode(message));
        const body = document.querySelector('body');
        body.insertBefore(div, body.firstElementChild);
        alert = document.querySelector('#baloon');

        setTimeout(() => alert.classList.add('animate'), 200);
        setTimeout(() => alert.classList.remove('animate'), 3000);
        setTimeout(() => alert.remove(), 4000);
    },
    setServices(services){
        this.services.forEach(service => {
            if (service.name == '1st'){
                this.firstService = service
            } else if (service.name == '2nd'){
                this.secondService = service
            } else if (service.name == '3rd'){
                this.thirdService = service
            }
        })
    },
    getServices(){
        fetch(`{% url 'api:stat-services' stat.id %}`, {method: 'GET'})
            .then((response) => response.json())
            .then((json) => this.services = json)
            .then(() => {this.setServices(this.services)})
    },
    updateServices(message=0){
        let allServices = []
        let first = false

        if (message == 0){
            allServices.push(this.firstService)
        }
        else if (message == 1){
            first = this.firstService
        }

        allServices.push(this.secondService)
        allServices.push(this.thirdService)

        let obj = {'services': allServices, 'message': message, 'first': first}

        fetch(`{% url 'api:stat-services' stat.id %}`, {
            method: 'PUT',
            headers: {
               Accept: 'application/json',
               'Content-Type': 'application/json',
               'X-CSRFToken': this.csrf(),
            },
            body: JSON.stringify(obj),
        }).then((response) => response.json())
            .then((json) => {
                this.services = json.data
                this.setServices(this.services)
                this.status = json.status
                if(this.status == 200){
                    this.showMessage('Success')
                }
            })
    }
}" x-init="getServices()">

    <div class="date">{{ stat.formatedDate }}</div>

    <div class="flex gap-4 p-4 justify-center">
            
        {% if request.user.is_authenticated %}
        
        <a href="{% url 'App:facilitator-checklist' stat.pk %}" class="flex gap-2 items-center px-6 py-2 bg-primary text-white rounded-full">
            <i class="fas fa-list-check"></i>
            <span class="font-bold">View Checklist</span>
        </a>
        {% endif %}
            
    </div>
    <div id="token" style="display: none;">{% csrf_token %}</div>
    <table class="max-w-lg mx-auto">
        <tbody>
            <tr>
                <th>Service</th>
                <th>1st</th>
                <th>2nd</th>
                <th>3rd</th>
            </tr>
            <tr class="junior">
                <th>Junior</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="first_junior" id="first_junior" title="First Junior" x-model="firstService.junior"
                        x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="second_junior" id="second_junior" title="Second Junior" x-model="secondService.junior"
                        x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="third_junior" id="third_junior" title="Third Junior" x-model="thirdService.junior"
                        x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr class="senior">
                <th>Senior</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="first_senior" id="first_senior" title="First Senior" x-model="firstService.senior"
                        x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="second_senior" id="second_senior" title="second Senior" x-model="secondService.senior"
                        x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="third_senior" id="third_senior" title="third Senior" x-model="thirdService.senior"
                        x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr class="total">
                <th>Total</th>
                <td class="first" x-text="Number(firstService.junior)+Number(firstService.senior)"></td>
                <td class="second" x-text="Number(secondService.junior)+Number(secondService.senior)"></td>
                <td class="third" x-text="Number(thirdService.junior)+Number(thirdService.senior)"></td>
            </tr>
            <tr class="first_timers">
                <th>First T Visitors</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="first_first_time_visitors" id="first_first_time_visitors"
                        title="First first_time_visitors" x-model="firstService.first_time_visitors"
                        x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="second_first_time_visitors" id="second_first_time_visitors"
                        title="second first_time_visitors" x-model="secondService.first_time_visitors"
                        x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="third_first_time_visitors" id="third_first_time_visitors"
                        title="third first_time_visitors" x-model="thirdService.first_time_visitors"
                        x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr class="salvations">
                <th>Salvations</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="first_salvations" id="first_salvations" title="First salvations"
                        x-model="firstService.salvations" x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="second_salvations" id="second_salvations" title="second salvations"
                        x-model="secondService.salvations" x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="third_salvations" id="third_salvations" title="third salvations"
                        x-model="thirdService.salvations" x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr>
                <th>Facilitators</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="first_facilitators" id="first_facilitators" title="First facilitators"
                        x-model="firstService.facilitators" x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="second_facilitators" id="second_facilitators" title="second facilitators"
                        x-model="secondService.facilitators" x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                        name="third_facilitators" id="third_facilitators" title="third facilitators"
                        x-model="thirdService.facilitators" x-bind:disabled="!editMode">
                </td>
            </tr>
            <template x-if="editMode">
                <tr>
                    <th>FctChk</th>
                    <td class="first">
                        <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                            name="first_facilitators" id="first_facilitators" title="First facilitators"
                            x-model="firstService.facilitators_count" x-bind:disabled="!editMode">
                    </td>
                    <td class="second">
                        <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                            name="second_facilitators" id="second_facilitators" title="second facilitators"
                            x-model="secondService.facilitators_count" x-bind:disabled="!editMode">
                    </td>
                    <td class="third">
                        <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" type="number"
                            name="third_facilitators" id="third_facilitators" title="third facilitators"
                            x-model="thirdService.facilitators_count" x-bind:disabled="!editMode">
                    </td>
                </tr>
            </template>
        </tbody>
    </table>

    <p>
        Total facilitators: <span>{{ stat.facilitatorsCount }}</span>
    </p>

    {% if request.user.is_authenticated %}
    <div class="flex gap-4 justify-center flex-wrap">
        <button @click="editMode = !editMode" class="flex gap-2 items-center px-6 py-2 text-white rounded-full border border-light">
            <i class="fas fa-edit"></i>
            <span x-text="editMode ? 'Close Edit' : 'Edit'">Edit</span>
        </button>
        <template x-if="editMode">
            <button @click="updateServices(0)"
                class="bg-primary flex gap-2 items-center px-6 py-2 text-white rounded-full">
                Save
                <i class="fas fa-save"></i>
            </button>
        </template>
    </div>

    {% endif %}
</section>

{% endblock slot %}


{% block scripts %}
{% endblock scripts %}