{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section title="Today's Stats" id="today-page" 
x-data="{
    statID: {{stat.id}},
    editMode: false,
    services: null,
    firstService: {},
    secondService: {},
    thirdService: {},
    updatedServices: [],
    status: null,
    csrf() {
        token = document.getElementById('token').firstElementChild.value;
        return token;
    },
    showMessage(message){
        const div = document.createElement('div');
        div.className = `rounded-full bg-green-500 text-black font-semibold mx-auto `;
        div.id = 'baloon';
        div.appendChild(document.createTextNode(message));
        const body = document.querySelector('body');
        body.insertBefore(div, body.firstElementChild);
        alert = document.querySelector('#baloon');

        setTimeout(() => alert.classList.add('animate'), 200);
        setTimeout(() => alert.classList.remove('animate'), 3000);
        setTimeout(() => alert.remove(), 4000);
    },
    setServices(services){
        this.services.forEach(service => {
            if (service.name == '1st'){
                this.firstService = service
            } else if (service.name == '2nd'){
                this.secondService = service
            } else if (service.name == '3rd'){
                this.thirdService = service
            }
        })
    },
    getServices(){
        fetch(`{% url 'api:stat-services' stat.id %}`, {method: 'GET'})
            .then((response) => response.json())
            .then((json) => this.services = json)
            .then(() => {this.setServices(this.services)})
    },
    updateServices(){
        let allServices = []
        allServices.push(this.firstService)
        allServices.push(this.secondService)
        allServices.push(this.thirdService)
        fetch(`{% url 'api:stat-services' stat.id %}`, {
            method: 'PUT',
            headers: {
               Accept: 'application/json',
               'Content-Type': 'application/json',
               'X-CSRFToken': this.csrf(),
            },
            body: JSON.stringify(allServices),
        }).then((response) => response.json())
            .then((json) => {
                this.services = json.data
                this.setServices(this.services)
                this.status = json.status
                if(this.status == 200){
                    this.showMessage('Success')
                }
            })
    }
}"
 x-init="getServices()">
    <img class="logo" src="{% static 'app/assets/logo.png' %}" alt="App logo">
    <!-- <h1>Today</h1> -->
    <div class="date">{{ stat.formatedDate }}</div>
    <div id="token" style="display: none;">{% csrf_token %}</div>
    <template x-if="editMode">
        <p>Click a cell in the table to edit it</p>
    </template>
    <table>
        <tbody>
            <tr>
                <th>Service</th>
                <th>1st</th>
                <th>2nd</th>
                <th>3rd</th>
            </tr>
            <tr class="junior">
                <th>Junior</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="first_junior" id="first_junior" title="First Junior"
                    x-model="firstService.junior" x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="second_junior" id="second_junior" title="Second Junior"
                    x-model="secondService.junior" x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="third_junior" id="third_junior" title="Third Junior"
                    x-model="thirdService.junior" x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr class="senior">
                <th>Senior</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="first_senior" id="first_senior" title="First Senior"
                    x-model="firstService.senior" x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="second_senior" id="second_senior" title="second Senior"
                    x-model="secondService.senior" x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="third_senior" id="third_senior" title="third Senior"
                    x-model="thirdService.senior" x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr class="total">
                <th>Total</th>
                <td class="first" x-text="Number(firstService.junior)+Number(firstService.senior)"></td>
                <td class="second" x-text="Number(secondService.junior)+Number(secondService.senior)"></td>
                <td class="third" x-text="Number(thirdService.junior)+Number(thirdService.senior)"></td>
            </tr>
            <tr class="first_timers">
                <th>First T Visitors</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="first_first_time_visitors" id="first_first_time_visitors" title="First first_time_visitors"
                    x-model="firstService.first_time_visitors" x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="second_first_time_visitors" id="second_first_time_visitors" title="second first_time_visitors"
                    x-model="secondService.first_time_visitors" x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="third_first_time_visitors" id="third_first_time_visitors" title="third first_time_visitors"
                    x-model="thirdService.first_time_visitors" x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr class="salvations">
                <th>Salvations</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="first_salvations" id="first_salvations" title="First salvations"
                    x-model="firstService.salvations" x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="second_salvations" id="second_salvations" title="second salvations"
                    x-model="secondService.salvations" x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="third_salvations" id="third_salvations" title="third salvations"
                    x-model="thirdService.salvations" x-bind:disabled="!editMode">
                </td>
            </tr>
            <tr>
                <th>Facilitators</th>
                <td class="first">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="first_facilitators" id="first_facilitators" title="First facilitators"
                    x-model="firstService.facilitators" x-bind:disabled="!editMode">
                </td>
                <td class="second">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="second_facilitators" id="second_facilitators" title="second facilitators"
                    x-model="secondService.facilitators" x-bind:disabled="!editMode">
                </td>
                <td class="third">
                    <input class="w-full bg-dark focus-within:outline-none focus-within:bg-light" 
                    type="number" name="third_facilitators" id="third_facilitators" title="third facilitators"
                    x-model="thirdService.facilitators" x-bind:disabled="!editMode">
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="actions">
        <a href="{% url 'App:stat-list' %}" class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.042" height="24.042" viewBox="0 0 24.042 24.042">
                <path id="Union_2" data-name="Union 2" d="M2,17a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0h.435a2,2,0,0,1,2,2V12.565H15a2,2,0,0,1,2,2V15a2,2,0,0,1-2,2Z" transform="translate(12.021) rotate(45)" fill="#fff"/>
              </svg>              
            <span>Go to list</span>  
        </a>
        
        {% if request.user.is_authenticated %}
        <button @click="editMode = !editMode">
            <i class="fas fa-edit text-xl"></i>
            <span x-text="editMode ? 'Close Edit Mode' : 'Edit Mode'">Edit mode</span>
        </button>
        {% endif %}
            
    </div>
    {% if request.user.is_authenticated %}
    <template x-if="editMode">
        <div class="grid">
            <span @click="updateServices()" class="bg-primary p-4 rounded-full text-white text-lg cursor-pointer">
                Save changes 
                <i class="fas fa-save text-xl ml-4"></i>              
            </span>
        </div>
    </template>
    {% endif %}
</section>
<section style="height:100vh;"></section>
    
{% endblock slot %}


{% block scripts %}
    <script>
        
        {% if link_name %}
            const active_link = "{{ link_name }}"
            {% else %}
            const active_link = "all-stats"
        {% endif %}
            
    </script>
{% endblock scripts %}
