{% extends 'app_base.html' %}
{% load static %}

{% block slot %}

<section title="All Stats" id="all-stats-page">
    <img class="logo" src="{% static 'assets/logo.png' %}" alt="App logo">
    <div class="flex p-4 justify-center">
        
        {% if request.user.is_authenticated %}
            <a href="{% url 'App:register-day' %}" class="grid grid-flow-col gap-2 items-center">
                <i class="fas fa-plus"></i>
                <span class="font-bold">Add new stat</span>
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="grid grid-flow-col gap-2 items-center">
                <i class="fas fa-user"></i>
                <span class="font-bold">Login</span>
            </a>
        {% endif %}
            
    </div>
    <p class=" my-8 mx-auto">Click a date to view it</p>
    <!-- list of the stats -->
    <ol>
        {% for stat in stats %}
        <li><a href="{% url 'App:stat-detail' stat.id %}">{{ stat.formatedDate }}</a></li>
        {% endfor %}
    </ol>
</section>

{% endblock slot %}


{% block scripts %}
<script>
    const active_link = "all-stats"
</script>
{% endblock scripts %}