{% extends 'app_base.html' %}
{% load static tailwind_filters %}

{% block slot %}

<section class=" pt-12">
    <img class="logo mx-auto pb-8" src="{% static 'assets/logo.png' %}" alt="App logo">
    <form method="post" class=" accent-primary grid mx-auto w-11/12 max-w-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="p-3 bg-amber-600 mt-4 rounded-lg">Save Facilitator</button>
    </form>
</section>

{% endblock slot %}


{% block scripts %}
{% endblock scripts %}
