{% extends 'app_base.html' %}
{% load static tailwind_filters %}

{% block slot %}
<section class="mb-8">
    <div class="grid grid-flow-col justify-between px-2 mt-4">
        <a href="{% url 'App:facilitator-list' %}"
            class="w-fit flex items-center gap-2">
            <i class="fas fa-arrow-left"></i>
            <span>List</span>
        </a>
        {% if request.user.is_superuser %}
        <a href="{% url 'App:facilitator-update' facilitator.pk %}"
            class="w-fit flex items-center gap-2">
            <i class="fas fa-edit"></i>
            <span>Update</span>
        </a>
        {% endif %}
    </div>
    <h2 class="text-lg text-center">{{ facilitator.name }}</h2>
</section>

{% comment %} <table class="w-full">
    {% for pair in list %}
    <tr class="text-left">
        <th>{{ pair.stat.date }}</th>
        <td>
            {% if pair.status %}
            <i class="fas fa-circle-check text-green-500"></i>
            {% else %}
            <i class="fas fa-circle-xmark text-red"></i>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table> {% endcomment %}

<h3 class="font-bold mb-2 hidden">Daily Availability Heatmap</h3>
<div class="w-full overflow-x-auto my-4">
    <div id="availabilityHeatmap" class="grid-cols-12 grid gap-1 w-fit max-w-3xl p-1 border border-light rounded mx-auto"></div>
</div>

<h3 class="font-bold mb-2 mt-6">Monthly chart</h3>
<canvas id="monthlyAvailabilityChart" class="heatmap"></canvas>

<div class="hidden aspect-square"></div>

<!-- Embed JSON data -->
<script id="facilitator-data" type="application/json">
{
    "daily": [
        {% for pair in list %}
        { "date": "{{ pair.stat.date|date:'d M' }}", "status": {{ pair.status|yesno:"true,false" }} }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ],
    "monthly": {{ monthly_stats|safe }}
}
</script>

{% endblock slot %}


{% block scripts %}
{% endblock scripts %}
