{% extends 'app_base.html' %}
{% load static tailwind_filters %}

{% block slot %}

<section class="px-2" x-data="{
    tab: 0,
    filter_modal: false
}">
    <section class="mb-8">
        <c-ui.accordion>
            <c-ui.accordion.item header="Summary">
                <div class="grid grid-cols-[repeat(auto-fit,minmax(90px,1fr))] gap-4 max-w-5xl mx-auto">
                    {% for stat in stats_list %}
                    <c-ui.card>
                        <p class="text-center text-5xl">{{ stat.value }}</p>
                        <h3 class="text-xs font-semibold text-center mt-2 opacity-60">{{ stat.title }}</h3>
                    </c-ui.card>
                    {% endfor %}
                </div>
            </c-ui.accordion.item>
            <c-ui.accordion.item header="Actions">
                <div class="flex gap-2 p-4 justify-center flex-wrap">
                    
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'App:facilitator-create' %}">
                        <c-ui.button>
                            <div class="flex items-center gap-2">
                                <c-icon icon="plus" />
                                <span>Add</span>
                            </div>
                        </c-ui.button>
                    </a>
        
                    <a href="{% url 'facilitators:attendance' %}">
                        <c-ui.button>
                            <div class="flex items-center gap-2">
                                <c-icon icon="calendar" />
                                <span>Attendance Map</span>
                            </div>
                        </c-ui.button>
                    </a>
                    {% endif %}
                    
                    <c-ui.dialog>
                        <c-slot name="trigger">
                            <c-ui.button>
                                <div class="flex items-center gap-2">
                                    <c-icon icon="funnel" />
                                    <span>Filters</span>
                                </div>
                            </c-ui.button>
                        </c-slot>

                        <c-slot name="header">
                            <c-ui.dialog.title>Filters</c-ui.dialog.title>
                            <c-ui.dialog.description>Make changes to your profile here. Click save when you're done.</c-ui.dialog.description>
                        </c-slot>

                        <form method="get">
                            <div class="grid gap-y-4">
                                <c-ui.field>
                                    <c-ui.label>Name:</c-ui.label>
                                    <c-ui.input type="text" name="search" value="{{ search_query }}" placeholder="eli..." />
                                </c-ui.field>
                                <c-ui.field>
                                    <c-ui.label>Tags:</c-ui.label>
                                    <c-ui.combobox
                                        name="tags"
                                        placeholder="Select skills"
                                        :options="{{ tags|safe }}"
                                        :selected="{{ selected_tags|safe }}"
                                    />
                                </c-ui.field>
                                <div class="grid grid-cols-2 gap-2">
                                    <c-ui.field>
                                        <c-ui.label>From:</c-ui.label>
                                        <c-ui.input type="date" name="start_date" value="{{ start_date }}" />
                                    </c-ui.field>
                                    <c-ui.field>
                                        <c-ui.label>To:</c-ui.label>
                                        <c-ui.input type="date" name="end_date" value="{{ end_date }}" />
                                    </c-ui.field>
                                </div>
                            </div>
    
                            <div class="grid gap-2">
                                <c-ui.button variant="ghost" @click="close()">Cancel</c-ui.button>
                                <a href="{% url 'App:facilitator-list' %}" class="w-full grid">
                                    <c-ui.button>Reset</c-ui.button>
                                </a>
                                <c-ui.button variant="primary" type="submit">Submit</c-ui.button>
                            </div>
                        </form>
                    </c-ui.dialog>
                        
                </div>
            </c-ui.accordion.item>
        </c-ui.accordion>
    </section>

    <form method="post" class="max-w-5xl mx-auto mb-4 px-2">
        {% if request.user.is_staff %}
        {% csrf_token %}
        <input type="hidden" name="return_query" value="{{ request.GET.urlencode }}">
        <div class="flex gap-2 items-center justify-end">
            <c-ui.select name="bulk_action" placeholder="Select an action" required>
                <c-ui.select.option value="activate">Activate</c-ui.select.option>
                <c-ui.select.option value="deactivate">Deactivate</c-ui.select.option>
                <c-ui.select.option value="edit">Edit</c-ui.select.option>
                <c-ui.select.option value="set-female">Set as Female</c-ui.select.option>
                <c-ui.select.option value="set-male">Set as Male</c-ui.select.option>
            </c-ui.select>
            <c-ui.button type="submit">
                <div class="flex items-center gap-2">
                    <c-icon icon="cloud-upload" sm />
                    <span>Apply</span>
                </div>
            </c-ui.button>
        </div>
        {% endif %}

        <c-ui.tabs variant="segmented">
            <c-ui.tabs.tab name="Active">
                <c-ui.card class="space-y-4">
                    <!-- <div>
                        <h3 class="text-xl font-bold">Active Facilitators</h3>
                        <p class="text-sm text-ink-600 mt-1"></p>
                    </div> -->

                    <div class="space-y-3">
                        {% for f in active_f %}
                        <div class="flex items-center gap-4 py-2">
                            <div>
                                <input class="bulk-checkbox" type="checkbox" name="facilitator_ids" value="{{ f.pk }}">
                            </div>
                            <div>
                                <div class="font-medium">
                                    <a href="{% url 'App:facilitator-detail' f.pk %}">
                                        {{ f.name }}
                                    </a>
                                </div>
                                <!-- <div class="text-sm text-ink-600">michael@example.com</div> -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </c-ui.card>
            </c-ui.tabs.tab>
            <c-ui.tabs.tab name="Inactive">
                <!-- Content -->
            </c-ui.tabs.tab>
        </c-ui.tabs>
    </form>
</section>

{% endblock slot %}

