{% extends 'app_base.html' %}
{% load static tailwind_filters %}

{% block slot %}

<section class="px-2" x-data="{
    tab: 0,
    filter_modal: false
}">
    <div class="flex gap-4 p-4 justify-center flex-wrap">
        
        {% if request.user.is_authenticated %}
            <a href="{% url 'App:facilitator-create' %}" class="flex gap-2 items-center px-6 py-2 bg-primary text-white rounded-full">
                <i class="fas fa-plus"></i>
                <span class="font-bold">Add</span>
            </a>

            <a href="{% url 'facilitators:attendance' %}" class="flex gap-2 items-center px-6 py-2 text-white rounded-full border border-primary">
                <div class="circle-outer">
                    <div class="circle-inner"><i class="img fas fa-calendar"></i></div>
                </div>
                {% comment %} <span>Attendance</span> {% endcomment %}
            </a>
        {% endif %}
        <button @click="filter_modal=true">Filters</button>
            
    </div>

    <div style="background-color: rgba(0, 0, 0, 0.5);" class="fixed inset-0 grid items-center z-20" x-show="filter_modal">
        <section class="relative min-w-sm mx-auto p-4 bg-light rounded-md">
            <h2 class="font-bold text-center text-2xl">Filters</h2>
            <form method="get" class="grid gap-4 p-4 w-96">
                <div class="flex items-center justify-between gap-2">
                    <label for="start_date" class="text-white">From:</label>
                    <input type="date" id="start_date" name="start_date" class="rounded-md border-gray-300 bg-dark p-2 focus:outline-none focus:border-blue-500" value="{{ request.GET.start_date }}">
                </div>
                <div class="flex items-center justify-between gap-2">
                    <label for="end_date" class="text-white">To:</label>
                    <input type="date" id="end_date" name="end_date" class="rounded-md border-gray-300 bg-dark p-2 focus:outline-none focus:border-blue-500" value="{{ request.GET.end_date }}">
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <input type="reset" class="py-2 px-4 rounded-md hover:bg-light focus:outline-none focus:ring focus:border-blue-700 cursor-pointer" value="Reset"/>
                    <button type="submit" class="bg-primary text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                        Submit
                    </button>
                </div>
            </form>
            <button @click="filter_modal=false" type="button" class="absolute top-2 right-2 p-2 bg-transparent hover:bg-danger w-8 h-8 grid place-content-center">
                <i class="fas fa-x"></i>
            </button>
        </section>
    </div>

    <section class="mb-8">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 max-w-2xl mx-auto">
            <div class="bg-light p-4 rounded-md">
                <p class="text-center text-5xl">{{ facilitators.count }}</p>
                <h3 class="text-xs font-semibold text-center mt-2">Total</h3>
            </div>
            <div class="bg-light p-4 rounded-md md:hidden"></div>
            <div class="bg-light p-4 rounded-md">
                <p class="text-center text-5xl">{{ active_count }}</p>
                <h3 class="text-xs font-semibold text-center mt-2">Active</h3>
            </div>
            <div class="bg-light p-4 rounded-md">
                <p class="text-center text-5xl">{{ inactive_count }}</p>
                <h3 class="text-xs font-semibold text-center mt-2">Inactive</h3>
            </div>
        </div>
    </section>
    

    <div class="w-fit mb-4 max-w-3xl mx-auto sticky top-2 z-10" id="tabs-component">
        <div role="tablist" aria-label="Sample tabs" class="flex gap-2">
            <button id="tab-0" role="tab" aria-selected="true" aria-controls="panel-0" data-index="0"
            class="px-4 py-2 text-sm font-medium focus:outline-none focus:ring-0 rounded-md hover:text-white" :class="{ 'bg-light text-white': tab === 0 }" @click="tab = 0">Active</button>
            <button id="tab-1" role="tab" aria-selected="false" aria-controls="panel-1" data-index="1"
            class="px-4 py-2 text-sm font-medium focus:outline-none focus:ring-0 rounded-md hover:text-white" :class="{ 'bg-light text-white': tab === 1 }" @click="tab = 1">Inactive</button>
        </div>
    </div>
    
    <section x-show="tab === 0">
        <div class="overflow-x-auto w-full">
            <table class="w-full border-collapse table-auto">
                <thead>
                    <tr>
                        <th class="px-2 py-2 border-b whitespace-nowrap text-left">Name</th>
                        <th class="px-2 py-2 border-b whitespace-nowrap text-left">Tags</th>
                        {% if request.user.is_staff %}
                        <th class="px-2 py-2 border-b whitespace-nowrap text-right">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for f in facilitators %}
                    {% if f.active %}
                    <tr class="hover:bg-light focus:bg-light">
                        <td class="px-2 py-2 border-b whitespace-nowrap text-left">
                            <a href="{% url 'App:facilitator-detail' f.pk %}"
                            class="hover:underline hover:decoration-dashed">{{ f.name }}</a>
                        </td>
                        <td class="px-2 py-2 border-b whitespace-nowrap text-left">
                            <div class="flex flex-wrap gap-1">
                                {% for tag in f.tags.all %}
                                <span class="bg-light rounded-md px-2 py-1 text-sm font-semibold">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        {% if request.user.is_staff %}
                        <td class="px-2 py-2 border-b whitespace-nowrap text-right">
                            <div class="flex gap-4 items-center justify-end">
                                <a href="{% url 'App:facilitator-update' f.pk %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section x-show="tab === 1">
        <div class="overflow-x-auto w-full">
            <table class="w-full border-collapse table-auto">
                <thead>
                    <tr>
                        <th class="px-2 py-2 border-b whitespace-nowrap text-left">Name</th>
                        <th class="px-2 py-2 border-b whitespace-nowrap text-left">Tags</th>
                        {% if request.user.is_staff %}
                        <th class="px-2 py-2 border-b whitespace-nowrap text-right">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for f in facilitators %}
                    {% if not f.active %}
                    <tr class="hover:bg-light focus:bg-light">
                        <td class="px-2 py-2 border-b whitespace-nowrap text-left">
                            <a href="{% url 'App:facilitator-detail' f.pk %}"
                            class="hover:underline hover:decoration-dashed">{{ f.name }}</a>
                        </td>
                        <td class="px-2 py-2 border-b whitespace-nowrap text-left">
                            <div class="flex flex-wrap gap-1">
                                {% for tag in f.tags.all %}
                                <span class="bg-light rounded-md px-2 py-1 text-sm font-semibold">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        {% if request.user.is_staff %}
                        <td class="px-2 py-2 border-b whitespace-nowrap text-right">
                            <div class="flex gap-4 items-center justify-end">
                                <a href="{% url 'App:facilitator-update' f.pk %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</section>
<section style="height:20svh;" class="text-xs text-light font-medium grid justify-center items-start">
</section>

{% endblock slot %}


{% block scripts %}
<script>
    {% if link_name %}
    const active_link = "{{ link_name }}" 
    {% else %}
    const active_link = "all-stats" 
    {% endif %}
</script>
{% endblock scripts %}
