{% load static %}

<footer>
    <nav>
        <a href="/" class="link all-stats">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'app/assets/list all.svg' %}" alt=""></div>
            </div>
            <span>Stats</span>
        </a>
        <a href="#" class="link">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'app/assets/user-plus.svg' %}" alt=""></div>
            </div>
            <span>Head count</span>
        </a>
        <!-- <a href="/" class="link today">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'app/assets/pen-to-square.svg' %}" alt=""></div>
            </div>
            <span>Current</span>
        </a> -->
        <a href="/" class="link">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'app/assets/address-book.svg' %}" alt=""></div>
            </div>
            <span>Coming soon</span>
        </a>
        <a href="#" class="link">
            <div class="circle-outer">
                <div class="circle-inner"><img src="{% static 'app/assets/calendar-days.svg' %}" alt=""></div>
            </div>
            <span>Dates</span>
        </a>
    </nav>
</footer>